<h2>Resend unlock instructions</h2>

<%= simple_form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post, :class => "form-horizontal" }) do |f| %>
  <%= devise_error_messages! %>

  <%= f.input :email %>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
  </div>
<% end %>

<%= render :partial => "devise/shared/links" %>
