<h1>Listing deadlines</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Deadline</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @deadlines.each do |deadline| %>
  <tr>
    <td><%= deadline.name %></td>
    <td><%= deadline.deadline %></td>
    <td><%= link_to 'Show', deadline %></td>
    <td><%= link_to 'Edit', edit_deadline_path(deadline) %></td>
    <td><%= link_to 'Destroy', deadline, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Deadline', new_deadline_path %>
