<tr id="user_<%= user.id %>">
  <td>
    <%= link_to image_tag(user.avatar_url), user %>
  </td>
  <td><%= link_to user.first_name, user %></td>
  <td><%= link_to user.last_name, user %></td>
  <td>
    <%= render_tour_trained user.tour_trained %>
  </td>
  <td>
    <%= form_for(user, :remote => true, :confirm => 'Are you sure?') do |f| %>
      <%= f.collection_select(:role_ids,  Role.all, :id, :name, {:selected => user.roles.map(&:id)}, {:multiple => true}) %>
      <%= f.submit "Submit", :class => "btn btn-primary" %>
    <% end %>
  </td>
  <td><%= link_to "Destroy", user, :confirm => 'Are you sure?', :method => :delete, :remote => true, :class => "btn btn-danger"%></td>
</tr>
