<h2>Edit User</h2>

<%= simple_form_for(@user, :html => { :class => "form-horizontal" }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :email %>
    <%= f.input :phone %>
    <%= f.input :birthday, :start_year => Date.today.year - 40, :end_year => Date.today.year - 12, :order => [:month, :day, :year] %>
    <%= f.input :major %>
    <%= f.input :hours_enrolled %>
    <%= f.input :graduation_date %>
    <%= f.input :hometown %>
    <%= f.association :committee  %>

    <%= f.input :local_street %>
    <%= f.input :local_city %>
    <%= f.input :local_state %>
    <%= f.input :local_zip %>
    <%= f.input :local_apt %>

    <%= f.input :same_address do %>
      <%= f.input_field :same_address %>
      <p class="help-inline">Check if your local address is the same as your permanent address</p>
    <% end %>

    <div id="permanent_address" >
      <%= f.input :permanent_street %>
      <%= f.input :permanent_city %>
      <%= f.input :permanent_state %>
      <%= f.input :permanent_zip %>
      <%= f.input :permanent_apt %>
    </div>

    <%= f.input :tour_trained do %>
      <%= f.input_field :tour_trained %>
      <p class="help-inline">Check only if you've been offically tour trained</p>
    <% end %>

    <!-- <%= f.input :image %> -->
    <% if current_user.has_role? :admin %>
	<%= f.association :roles %>
    <% end %>


  </div>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= submit_tag 'Reset', :type => :reset, :class => "btn btn-danger" %>
  </div>
<% end %>
