<h1><%= @user.name %></h1>
<dl>
  <dt>Email<dt> 
  <dd>
    <%= @user.email if @user.email %>
  </dd>

  <dt>Banner</dt>
  <dd>
    @<%= @user.banner if @user.banner %>
  </dd>

  <dt>UTSA ID</dt>
  <dd>
    <%= @user.utsa_id if @user.utsa_id %>
  </dd>

  <dt>Phone</dt> 
  <dd>
    <%= @user.phone if @user.phone %>
  </dd>

  <dt>Birthday</dt>
  <dd><%= time_tag @user.birthday if @user.birthday %></dd>
  
  
  <dt>Local Address</dt>
  <dd>
    <% if (!local_address(@user.id).blank?) %>
    <address>
      <%= local_address(@user.id) %>
    </address>
    <% end %>
  </dd>
  
  <% if @user.same_address == false %>
  <dt>Permanent Address:</dt>
  <dd>
    <address>
      <%= permanent_address(@user.id) %>
    </address>
  </dd>
  <% end %>

  <dt>Tour Trained</dt>
  <dd>
    <%= render_tour_trained(@user.tour_trained) %>
  </dd>
</dl>
