<div class="row">
  <% if current_user.has_role? :admin %>
  <ul class="nav nav-tabs">
    <li>
      <%= link_to "Edit", edit_user_path(@user) %>
    </li>
    <li>
      <%= link_to "View Registrations", user_event_registrations_path(@user) %>
    </li>
    <% end %>
  </ul>
  
  <h1 class="page-header">
    <%= @user.name %> 
  </h1>

  <div class="span1">
    <%= image_tag @user.avatar_url, :class => "thumbnail" %>
  </div>
  <div class="span6">
    <% if @user.committee %>
      <span class="label label-info"><%= @user.committee.name %></span>
    <% end %>
    <dl>
      <dt>Email<dt> 
	<dd>
	  <%= mail_to @user.email if @user.email %>
	</dd>

      <dt>Phone</dt> 
      <dd>
	<%= @user.phone if @user.phone %>
      </dd>

      <dt>Birthday</dt>
      <dd><%= time_tag @user.birthday if @user.birthday %></dd>
      
      <dt>Major</dt>
      <dd>
	<%= @user.major if @user.major %>
      </dd>
      
      <dt>Hours Enrolled</dt>
      <dd>
	<%= @user.hours_enrolled if @user.hours_enrolled %>
      </dd>

      <dt>Graduation Date</dt>
      <dd>
	<%= @user.graduation_date if @user.graduation_date %>
      </dd>

      <dt>Hometown</dt>
      <dd>
	<%= @user.hometown if @user.hometown %>
      </dd>

      <dt>Local Address</dt>
      <dd>
	<% if (!local_address(@user.id).blank?) %>
	  <address>
	    <%= local_address(@user.id) %>
	  </address>
	<% end %>
      </dd>
      
      <% if @user.same_address == false %>
	<dt>Permanent Address:</dt>
	<dd>
	  <address>
	    <%= permanent_address(@user.id) %>
	  </address>
	</dd>
      <% end %>

      <dt>Tour Trained</dt>
      <dd>
	<%= render_tour_trained(@user.tour_trained) %>
      </dd>
    </dl>
  </div>
</div>
