<h1 class="page-header">My Events</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th>Date</th>
      <th>Time</th>
      <th>Hours</th>
      <th>Location</th>
      <th>Status</th>
  </thead>
  <tbody>
    <% @registrations.each do |registration| %>
      <tr class="<%= table_status(registration.registration_status.name) %>">
	<td><%= link_to registration.event.title, registration.event %></td>
	<td><%= time_tag(registration.event.date) %></td>
	<td><%= time_tag registration.event.start_time, :format=>'%l:%M %p' %> - <%= time_tag registration.event.end_time, :format=>'%l:%M %p' %></td>
	<td><%= registration.event.hours %></td>
	<td><%= registration.event.location %></td>
	<td><%= registration.registration_status.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />
