<div class="hero-unit">
  <h1>UTSA Ambassadors</h1>
  <p id="tagline">Serving the UTSA community since 1988.</p>
  <%= image_tag "ambassador_logo.png", :size => "150x150", :class => "logo" %>       
  <div id="social">
    <a class="btn facebook-button" href="https://www.facebook.com/UTSA.Ambassadors">
      <%= image_tag "glyphicons_390_facebook.png", :size => "12x12" %>
      <span>Facebook</span>
    </a>
  </div>
</div>


<div class="row about">
  <div class="span4">
    <%= image_tag "glyphicons_262_spade.png", :class => "glyph" %>
    <h3>Service</h3>
    <p>The Ambassadors provided more than 10,000 service hours to the University community last year.  Members volunteer at campus events, community and alumni functions, university sponsored conferences, and serve as tour guides for prospecitive students, parents and other visitors to campus.</p>
  </div>
  <div class="span4">
    <%= image_tag "glyphicons_289_podium.png", :class => "glyph" %>
    <h3>Leadership</h3>
    <p>The Ambassadors are enthusiastic students with strong leadership and communication skills, and they are dedicated to representing UTSA.</p>
  </div>
  <div class="span4">
    <%= image_tag "glyphicons_263_bank.png", :class => "glyph" %>
    <h3>Integrity</h3>
    <p>An Ambassador is expected to represent UTSA at all times.  They are the face of the University.</p>
  </div>
</div>
