<div class="row">
  <div class="span6">
    <h3><%= link_to "Upcoming Events", events_path %></h3>
    <% if !@events_upcoming.blank? %>
      <%= render :partial => "events_upcoming" %>
    <% else %>
      <p>No upcoming events</p>
    <% end %>
  </div>

  <div class="span6">
    <h3><%= link_to "My Events", user_event_registrations_path(current_user) %></h3>
    <% if !@my_events.blank? %>
      <%= render :partial => "my_events" %>
    <% else -%>
      <p>No registered events</p>
    <% end -%>
  </div>

</div>

<div class="row">
  <div class="span3">
    <h3>Birthdays</h3>
    <% if !@birthdays.blank? %>
      <%= render :partial => "birthdays" %>
    <% else -%>
      <p>No birthdays this month</p>
    <% end -%>
  </div>

  <div class="span3">
    <h3>My Stats</h3>
    
      <%= render :partial => 'my_stats' %>
    
  </div>

  <div class="span3">
    <h3>Hour Leaders</h3>
    <% if !@hour_leaders.blank? %>
      <%= render :partial => 'hour_leaders' %>
    <% else %>
      <p>No hour leaders</p>
    <% end %>
  </div>

  <div class="span3">
    <h3>Tour Leaders</h3>
    <% if !@tour_leaders.blank? %>
      <%= render :partial => 'tour_leaders' %>
    <% else %>
      <p>No tour leaders</p>
    <% end %>
  </div>
</div>
