<% if @registration %> <!-- Display Registration Status Update Form -->

  <%= form_for([@user,@registration], :url => "/users/" + @user.id.to_s + "/registrations/" + @registration.id.to_s, :method => 'put') do |f| %>
    <% if @event.datetime_end.past? %>
      <%= f.select :registration_status_id, @registration_collection, {:disabled => @past_disabled}, :class => 'input-medium' %>
    <% else %>
      <%= f.select :registration_status_id, @registration_collection, {:disabled => @future_disabled}, :class => 'input-medium' %>
    <% end %>
    <%= f.submit "Update", :class => "btn-primary" %>
  <% end %>

<% else -%> <!-- Check if registration is possible -->

  <p>Not Registered</p>

  <% if can? :add, @event %>
    <%= form_tag("/events/" + @event.id.to_s  + "/add", :method => "post") do %>
      <%= hidden_field_tag(:user_id, current_user.id) %>
      <%= submit_tag "Register", :class => "btn" %>
    <% end %>
  <% end %>

<% end %>

<% if @event.start_past? %>
      <span class="label label-important">Event Registration Period Passed</span>
<% elsif @event.filled? %>
      <span class="label label-important">Event Filled</span>
<% end %>
