<table class="table table-strped table-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th>Date</th>
      <th>Time</th>
      <th>Members needed</th>
      <th>Hours</th>
      <th>Location</th>
      <th>Instructions</th>
      <th>Ait</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.title %></td>
        <td><%= time_tag(event.date) %></td>
        <td>
	  <%= time_tag event.start_time, :format=>'%l:%M %p' %> -
          <%= time_tag event.end_time, :format=>'%l:%M %p' %>
	</td>
        <td><%= event.open_slots %></td>
        <td><%= event.hours %></td>
        <td><%= event.location %></td>
        <td><%= event.instructions %></td>
        <td><%= render_ait(event.ait) %></td>
        <td>
          <%= link_to raw('<i class="icon-eye-open icon-white"></i>'), event, :class => 'btn btn-primary' %>
	  <% if can? :edit, Event %>
            <%= link_to raw('<i class="icon-pencil icon-white"></i>'), edit_event_path(event), :class => 'btn btn-success' %>
	  <% end %>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>
