<h1 class="page-header"><%= @event.title %></h1>
<span class="label label-info"><%= @event.credit_type.name %></span>
<span class="label label-info"><%= @event.event_type.name %></span>
<div class="row">
  <div class="span8">
    <dl>
      <dt>Date:</dt>
      <dd>
	<%= time_tag @event.date %>
      </dd>

      <dt>Time:</dt>
      <dd>
	<%= time_tag @event.start_time, :format=>'%l:%M %p' %> -
	<%= time_tag @event.end_time, :format=>'%l:%M %p' %>
      </dd>

      <dt>Members needed:</dt>
      <dd>
	<td><%= @event.members_needed %></td>
      </dd>

      <dt>Hours:</dt>
      <dd>
	<%= @event.hours %>
      </dd>

      <dt>Location:</dt>
      <dd>
	<%= @event.location %>
      </dd>

      <dt>Instructions:</dt>
      <dd>
	<%= @event.instructions %>
      </dd>

      <dt>Apparel:</dt>
      <dd>
	<% if @event.apparel %>
	  <%= @event.apparel.name %>
	<% end -%>
      </dd>

      <dt>Ait:</dt>
      <dd>
	<%= render_ait(@event.ait) %>
      </dd>
    </dl>
    <%= render :partial => "buttons" %>
  </div>

  <div class="span4">
    <dl>
      <dt>Status:</dt>
      <dd>
	<%= render :partial => "registration_status_form" %>
      </dd>
    </dl>

    <%= render :partial => "show_users" %>
    
  </div>

</div>

