<h1><%= @event.title %></h1>
<div class="row">
  <div class="span8">
    <dl>
      <dt>Date:</dt>
      <dd>
	<%= time_tag @event.date %>
      </dd>

      <dt>Start time:</dt>
      <dd>
	<%= time_tag @event.start_time, :format=>'%l:%M %p' %>
      </dd>

      <dt>End time:</dt>
      <dd>
	<%= time_tag @event.end_time, :format=>'%l:%M %p' %>
      </dd>

      <dt>Members needed:</dt>
      <dd>
	<%= @event.members_needed %>
      </dd>

      <dt>Hours:</dt>
      <dd>
	<%= @event.hours %>
      </dd>

      <dt>Location:</dt>
      <dd>
	<%= @event.location %>
      </dd>

      <dt>Instructions:</dt>
      <dd>
	<%= @event.instructions %>
      </dd>

      <dt>Apparel:</dt>
      <dd>
	<% if @event.apparel %>
	  <%= @event.apparel.name %>
	<% end -%>

      </dd>

      <dt>Ait:</dt>
      <dd>
	<%= render_ait(@event.ait) %>
      </dd>
    </dl>
    <%= render :partial => "buttons" %>
  </div>

  <div class="span4">
    <% if @registration %>
      <%= render :partial => "show_users" %>
    <% else %>
      <%= render :partial => "register" %>
    <% end %>
    
    <dl>
      <dt>Status:</dt>
      <dd>
	<% if @registration %>
	  <%= @registration.registration_status.name %>
	<% else -%>
	  Not Registered
	<% end %>
      </dd>
    </dl>
  </div>

</div>

