<h1>Listing credit_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Service</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @credit_types.each do |credit_type| %>
  <tr>
    <td><%= credit_type.name %></td>
    <td><%= credit_type.service %></td>
    <td><%= link_to 'Show', credit_type %></td>
    <td><%= link_to 'Edit', edit_credit_type_path(credit_type) %></td>
    <td><%= link_to 'Destroy', credit_type, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Credit type', new_credit_type_path %>
