<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @credit_type.name %>
  <br/>
  <b>Service:</b>
  <%= @credit_type.service %>
</p>


<%= link_to 'Edit', edit_credit_type_path(@credit_type) %> |
<%= link_to 'Back', credit_types_path %>
