<h1 class="page-header">Yearly Report</h1>

<%= search_form_for @q, :url => reports_yearly_path, :html => { :class => "form-search well"} do |f| %>
<%= f.label :id_eq, "Year:" %>
<%= select_tag :year, options_for_select(Year.order("start DESC").collect {|y| [y.start.to_s + " - " + y.end.to_s, y.id]}, @year.id) %>
<%= f.submit "Search", :class => "btn btn-primary" %>
<%= link_to "Excel", reports_export_path(:year_id => @year.id, format:
					 "xls"), class: "btn" %>
<%= link_to "Destroy", "#", class: "btn btn-danger pull-right",
    confirm: '!!! Are you sure. All the events and registrations will
be destroyed !!!' %>
<% end %>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th><%= sort_link @q, :first_name %></th3>
      <th><%= sort_link @q, :last_name %></th>
      <th>Hours</th>
      <th>Tours</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
	<td><%= user.first_name %></td>
	<td><%= user.last_name %></td>
	<td><%= user.service_hours_year(@year) %></td>
	<td><%= user.tours_year(@year) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

